#mapContainer {
    position: relative;
    width: 90vw;
    max-width: 1600px;
    margin: 30px auto;
}

#worldMap {
    padding-top: 100px;
    width: 100%;
    display: block;
    border-radius: 20px;
}

.map-point {
    position: absolute;
    width: 28px;
    height: 28px;
    background: #e53935;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px #0005;
    transform: translate(-50%, -50%);
    transition: background 0.2s;
    z-index: 2;
}
.map-point:hover {
    background: #b71c1c;
}

#popup {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
#popup-content {
    background: #fff;
    border-radius: 20px;
    padding: 30px 40px;
    min-width: 300px;
    max-width: 90vw;
    box-shadow: 0 0 30px #0006;
    position: relative;
}

#popup-close {
    position: absolute;
    top: 10px; right: 20px;
    font-size: 2em;
    color: #888;
    cursor: pointer;
}
#popup-info{
    font-size: xx-large;
}